@media (max-width: 1120px){
    main{
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
    }
    .personagem-selecionado{
        margin-top: 400px;

    }
    .personagens{
        margin-top: 25px;
    }
    .personagens img{
        width: 50px;
    }
    .personagem-selecionado img{
        width: 300px;
    }
    .descricao-personagem{
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }
}