@charset "UTF-8";
*{
    font-family: sans-serif;
}
body{
    background-color: #060447;
}
header{
    border-radius: 5px;
    background-color: #23468C;
    width: 85%;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: white;
}
main{
    border-radius: 5px;
    background-color: white;
    width: 85%;
    padding: 10px;
    margin: auto;
}
footer{
    color: white;
    border-radius: 5px;
    background-color: #0e1d3a;
    width: 85%;
    margin: auto;
    padding: 10px;
    color: white;
}
h1{
    text-align: center;
}
p{
    text-align: justify;
    font-size: 1.3em;
}
a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
li{
    font-size: 20px;
}
div{
    text-align: center;
}
a#rodaPe{
    color: white;
}