@charset "UTF-8";

*{
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(35deg, #F23DA0, #0B078C);
}
header{
    border-radius: 5px;
    background-color: #6204BF;
    width: 85%;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: white;
}
main{
    border-radius: 5px;
    background-color: white;
    width: 85%;
    padding: 10px;
    margin: auto;
}
footer{
    border-radius: 5px;
    background-color: #23468C;
    width: 85%;
    margin: auto;
    padding: 10px;
    color: white;
}
h1{
    text-align: center;
}
p{
    text-align: justify;
    font-size: 1.3em;
}
a{
    color: #B7AFE0;
    font-size: 20px;
    text-decoration: none;
    -webkit-text-stroke-width: 0.40px;
    -webkit-text-stroke-color: #000;
}
div{
    text-align: center;
}