@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #060447;
}
header{
    border-radius: 5px;
    background-color: #23468C;
    width: 85%;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: white;
}
main{
    border-radius: 5px;
    background-color: white;
    width: 85%;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
}
div{
    font-size: 1.2em;
}
a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}